*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  width: 100%;
  height: auto;
  line-height: auto;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

body {
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 98%;
  height: auto;
  font-size: 10px;
  background-color: black;
  background: linear-gradient(to right, navy, blue);
}

.header {
  display: grid;
  grid-template-columns: repeat(1fr 2fr 1fr);
  grid-template-rows: 2fr 2fr 2fr;
}

.nav {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  padding: 1rem 0rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0.1rem 0.1rem 1rem 0.1rem;
  margin: 0.5rem 0rem;
  background: linear-gradient(
    to right,
    rgba(219, 141, 141, 0.78),
    rgb(57, 57, 205)
  );
}

@media only screen and (max-width: 1200px) {
  .nav {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 900px) {
  .nav {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 600px) {
  .nav {
    font-size: 0.6rem;
  }
}

.nav .logo {
  display: flex;

  align-items: center;
  padding: 1rem;
  width: 4rem;
  height: 4rem;
  margin-left: 0.7rem;
  border-radius: 50%;
}

@media only screen and (max-width: 500px) {
  .nav .logo {
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem pink;
  }
}
@media only screen and (max-width: 500px) {
  .nav .logo a img {
    width: 3rem;
    height: 3rem;
  }
}

.nav .logo a img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  box-shadow: 1px 1px 10px black;
  transition: 0.3s ease;
}

.nav .logo a img:hover {
  width: 5.5rem;
  height: 5.5rem;
}

.nav .logo a {
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.nav .logo a:hover {
  font-size: 1.1rem;
}

.nav .menu {
  display: flex;
  align-items: center;
  text-align: center;
}

.nav .menu a {
  padding: 0.5rem;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.nav .menu a:hover {
  color: black;
  text-decoration: underline;
}

.nav .menu a:nth-child(1):hover {
  font-size: 1.1rem;
}

.nav .menu a:nth-child(2):hover {
  font-size: 1.1rem;
}
.nav .menu a:nth-child(3):hover {
  font-size: 1.1rem;
}

.nav .social {
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  text-align: end;
  width: 4rem;
}

.nav .social a {
  padding: 1rem 0;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  align-self: center;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  transition: 0.4s ease;
}

.nav .social a:nth-child(1):hover {
  font-size: 1.2rem;
}

.nav .social a:nth-child(2):hover {
  font-size: 1.2rem;
}

.nav .social a:nth-child(3):hover {
  font-size: 1.2rem;
}

h1 {
  height: 5rem;
  font-family: cursive;
  font-size: 1.6rem;
  font-style: oblique;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-decoration: underline;
  text-align: center;
  text-shadow: 1px 10px 10px;
  transition: 0.3s ease;
}

h1:hover {
  color: black;
}
