*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  width: 100%;
  height: auto;
  line-height: auto;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

:root {
  --animate-delay: 2s;
}

body {
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 100%;
  height: auto;
  font-size: 10px;
  background-color: black;
  background: linear-gradient(to right, rgb(134, 134, 226), rgb(25, 25, 69));
}

hr {
  width: 98%;
}

.header {
  display: grid;
  grid-template-columns: repeat(1fr 2fr 1fr);
  grid-template-rows: 2fr 2fr 2fr;
  width: 100%;
  height: 9rem;
}

.nav {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  padding: 1rem 0rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0.1rem 0.1rem 1rem 0.1rem;
  margin: 0.5rem 0rem;
  background: linear-gradient(
    to right,
    rgba(219, 141, 141, 0.78),
    rgb(28, 28, 97)
  );
}

@media only screen and (max-width: 1200px) {
  .nav {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 900px) {
  .nav {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 600px) {
  .nav {
    font-size: 0.6rem;
  }
}

.nav .logo {
  display: flex;

  align-items: center;
  padding: 0.4rem;
  width: 4rem;
  height: 4rem;
  margin-left: 0.5rem;
  border-radius: 50%;
}

@media only screen and (max-width: 500px) {
  .nav .logo {
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem pink;
  }
}
@media only screen and (max-width: 500px) {
  .nav .logo a img {
    width: 3rem;
    height: 3rem;
  }
}

.nav .logo a img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  box-shadow: 1px 1px 10px black;
  transition: 0.3s ease;
}

.nav .logo a img:hover {
  width: 4.5rem;
  height: 4.5rem;
}

.nav .logo a {
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.nav .logo a:hover {
  font-size: 1.1rem;
}

.nav .menu {
  display: flex;
  align-items: center;
  text-align: center;
}

.nav .menu a {
  padding: 0.5rem;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.nav .menu a:hover {
  color: black;
  text-decoration: underline;
}

.nav .menu a:nth-child(1):hover {
  font-size: 1.1rem;
}

.nav .menu a:nth-child(2):hover {
  font-size: 1.1rem;
}
.nav .menu a:nth-child(3):hover {
  font-size: 1.1rem;
}

.nav .social {
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  text-align: end;
  width: 4rem;
}

.nav .social a {
  padding: 1rem 0;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  align-self: center;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  transition: 0.4s ease;
}

.nav .social a:nth-child(1):hover {
  font-size: 1.2rem;
}

.nav .social a:nth-child(2):hover {
  font-size: 1.2rem;
}

.nav .social a:nth-child(3):hover {
  font-size: 1.2rem;
}

h1 {
  height: 1rem;
  font-family: cursive;
  font-size: 2rem;
  font-style: oblique;
  margin-top: 1rem;
  margin-bottom: 0.2rem;
  text-decoration: underline;
  text-align: center;
  text-shadow: 0.1rem 1rem 1rem;
  transition: 0.3s ease;
  margin-bottom: 4rem;
  animation-name: moveInLeft;
  animation-duration: 3s;
  animation-delay: 1s;
}

@media only screen and (max-width: 500px) {
  h1 {
    font-size: 1.4rem;
  }
}

h1:hover {
  color: black;
}

h2 {
  font-family: cursive;
  width: 20rem;
  height: 4rem;
  text-align: center;
  font-size: 1.2rem;
  box-shadow: 0.1rem 0.1rem 1.5rem rgb(218, 123, 123);
  border-radius: 0.5rem;
  position: relative;
  transition: 0.3s ease;
  margin-bottom: 1rem;
  animation-name: moveInRight;
  animation-duration: 3s;
  animation-delay: 1s;
}

h2:hover {
  color: black;
}

.section1 {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin: 2rem 0;
  width: 98%;
  animation-name: moveInUp;
  animation-duration: 3s;
  animation-delay: 1s;
}

@media only screen and (max-width: 900px) {
  .section1 {
    display: flex;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 500px) {
  .section1 {
    display: flex;
    flex-wrap: wrap;
  }
}

.section1 .card-1 {
  position: relative;
  width: 20rem;
  height: 28rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0.1rem 0.1rem 10rem 1rem rgba(0, 0, 255, 0.81);
  padding: 1rem;
  border-radius: 1rem;
  background: linear-gradient(
    to right,
    rgba(219, 141, 141, 0.78),
    rgb(28, 28, 97)
  );
  transition: 0.4s ease;
}

@media only screen and (max-width: 900px) {
  .section1 .card-1 {
    margin-top: 3rem;
  }
}

@media only screen and (max-width: 500px) {
  .section1 .card-1 {
    margin-top: 3rem;
  }
}

.section1 .card-1 h3 {
  padding: 1rem 0;
  font-size: 1.3rem;
  color: rgb(209, 168, 118);
}

.section1 .card-1 .img {
  padding: 1rem 0;
  max-width: 18rem;
  width: 100%;
  height: 15rem;
}

.section1 .card-1 p {
  font-size: 0.8rem;
  text-align: justify;
}

.card-1 a {
  margin-top: 1.5rem;
  cursor: pointer;
  color: rgb(233, 202, 26);
  font-size: 0.7rem;
  font-weight: bold;
  position: absolute;
  width: 30rem;
  height: 30rem;
  left: 13rem;
  top: 24.5rem;
  transition: 0.3s ease;
  width: 7rem;
  height: 2rem;
}

.card-1 a:hover {
  font-size: 1rem;
  left: 11rem;
}

footer {
  margin-top: 4rem;
  width: 98%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation-name: moveInUp;
  animation-duration: 3s;
  animation-delay: 1s;
}

footer .footer-1 {
  display: flex;
  padding: 0.4rem;
  background: linear-gradient(
    to right,
    rgba(219, 141, 141, 0.78),
    rgb(28, 28, 97)
  );
  border-radius: 1rem;
}

footer .footer-1 .menu-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1rem;
  margin-left: 1rem;
}

footer .footer-1 .menu-2 a {
  text-decoration: none;
}

@media only screen and (min-width: 900px) {
  footer .footer-1 .menu-2 a {
    width: 10rem;
  }
}

footer .footer-1 .menu-2 a:nth-child(1):hover {
  color: black;
  font-size: 1.1rem;
  font-weight: bolder;
  text-decoration: underline;
}

footer .footer-1 .menu-2 a:nth-child(1) {
  transition: 0.3s ease;
}

footer .footer-1 .menu-2 a:nth-child(2) {
  padding-top: 1.2rem;
  transition: 0.3s ease;
}

footer .footer-1 .menu-2 a:nth-child(2):hover {
  color: black;
  font-size: 1.1rem;
  font-weight: bolder;
  text-decoration: underline;
}

@media only screen and (max-width: 500px) {
  footer .footer-1 .menu-2 a:nth-child(2) {
    padding-top: 2.5rem;
  }
}

footer .footer-1 .menu-2 a:nth-child(3) {
  padding-top: 1.2rem;
  transition: 0.3s ease;
}

footer .footer-1 .menu-2 a:nth-child(3):hover {
  color: black;
  font-size: 1.1rem;
  font-weight: bolder;
  text-decoration: underline;
}

@media only screen and (max-width: 500px) {
  footer .footer-1 .menu-2 a:nth-child(3) {
    padding-top: 2.5rem;
  }
}

.footer-1 .email-form {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
}

.footer-1 .email-form h3 {
  font-size: 1rem;
}

.footer-1 .email-form p {
  font-size: 0.8rem;
  text-decoration: underline;
}

.footer-1 .email-form a {
  font-size: 0.6rem;
  color: gold;
  transition: 0.3s ease;
}

.footer-1 .email-form a:hover {
  font-size: 1rem;
}

.email-form .btn-2 {
  display: flex;
  width: 30rem;
  height: 2rem;
  margin-top: 1rem;
}

.email-form .btn-2 input {
  color: black;
  text-align: center;
  font-size: 1rem;
  font-weight: bolder;
}

@media only screen and (max-width: 900px) {
  .email-form .btn-2 {
    width: 24rem;
  }
}

@media only screen and (max-width: 500px) {
  .email-form .btn-2 {
    width: 12rem;
  }
}

.email-form .btn-2 input::placeholder {
  text-align: center;
}

.email-form .btn-2 button {
  color: black;
  text-align: center;
  margin-left: 1rem;
  border-radius: 1rem;
  width: 100px;
  box-shadow: 1px 1px 10px 1px white;
  transition: 0.3s ease;
}

.email-form .btn-2 button:hover {
  cursor: pointer;
  background: linear-gradient(to right, green, yellow);
  font-size: 1rem;
  font-weight: bolder;
  box-shadow: 1px 1px 10px 1px green;
}

.copyright {
  width: 98%;
  background: linear-gradient(
    to right,
    rgba(219, 141, 141, 0.78),
    rgb(28, 28, 97)
  );
  color: #fff;
  padding: 10px 0;
  text-align: center;
  font-family: Arial, sans-serif;
  border-radius: 1rem;
}

.section2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 98%;
  height: auto;
  gap: 3rem;
}

@media only screen and (max-width: 900px) {
  .section2 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 600px) {
  .section2 {
    grid-template-columns: 1fr 1fr;
  }
}

.h2-2 {
  margin-top: 13rem;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  font-size: 2rem;
}

@media only screen and (max-width: 600px) {
  .h2-2 {
    font-size: 1rem;
    padding-top: 1rem;
    border-radius: 0;
  }
}

.section2 .knowledge {
  width: 10rem;
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  border: 1px solid black;
  background: linear-gradient(
    to right,
    rgba(219, 141, 141, 0.78),
    rgb(28, 28, 97)
  );
  border-radius: 1rem;
  transition: 0.3s ease;
}

.section2 .knowledge:hover {
  box-shadow: 0.1rem 0.1rem 1.5rem 0.1rem black;
}

.section2 .knowledge .card-2 {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
}

.section2 .knowledge .card-2 .h3-card-2 {
  color: rgb(209, 168, 118);
  text-align: center;
  padding-bottom: 1rem;
  font-size: 1rem;
}

.section2 .knowledge .card-2 img {
  width: 8rem;
  height: 8rem;
  padding: 1.2rem;
  border-radius: 50%;
  background: linear-gradient(to right, purple, black);
  margin-bottom: 0.5rem;
}

.btns-sec2 {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 1.2rem;
}

.btns-sec2 a {
  text-align: center;
  font-size: 0.8rem;
  color: gold;
  cursor: pointer;
  transition: 0.4s ease;
}

.btns-sec2 a:hover {
  font-size: 1rem;
  font-weight: bolder;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  80% {
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.element-to-animate,
.element-to-animate-left,
.element-to-animate-up {
  visibility: hidden;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.element-to-animate.animated,
.element-to-animate-left.animated,
.element-to-animate-up.animated {
  display: block;
  opacity: 1;
  transform: translateY(0);
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.element-to-animate.animated {
  animation-name: moveInRight;
}
.element-to-animate-left.animated {
  animation-name: moveInLeft;
}
.element-to-animate-up.animated {
  animation-name: moveInUp;
}

.animated-element {
  animation: moveInRight 3s forwards;
}

.animated-element-left {
  animation: moveInLeft 3s forwards;
}

.animated-element-up {
  animation: moveInUp 3s forwards;
}

.finalsection {
  box-shadow: 0.1rem 0.1rem 10rem 1rem rgba(0, 0, 255, 0.81);
  border-radius: 1rem;
  background: linear-gradient(
    to right,
    rgba(219, 141, 141, 0.78),
    rgb(28, 28, 97)
  );
}

.finalh2 {
  letter-spacing: 0.6rem;
}

.finalsection {
  margin-top: 10rem;
  padding-bottom: 1rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.info-flex {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.info-flex h3 {
  position: absolute;
  top: 2rem;
  left: 2rem;
  font-size: 1.6rem;
  text-align: left;
}

.info-flex p {
  position: absolute;
  top: 4rem;
  left: 2rem;
  width: 10rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  text-align: left;
}

@media (min-width: 1024px) {
  .info-flex p {
    width: 25rem;
  }
}

@media (min-width: 768px) {
  .info-flex p {
    width: 25rem;
  }
}

.info-column {
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.photo-info-info {
  width: 10rem;
  height: 20rem;
  border-radius: 1.2rem;
}

.reversed-info-flex {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.reversed-info-flex h3 {
  position: absolute;
  bottom: 17.5rem;
  text-align: right;
  right: 1.6rem;
  font-size: 1.6rem;
  padding-top: 4rem;
  margin-right: 1rem;
}

.reversed-info-flex p {
  position: absolute;
  top: 4rem;
  left: 1rem;
  width: 10rem;
  font-size: 1rem;
  text-align: right;
}

.reversed-h3 {
  text-align: right;
}

.reversed-info-column {
  gap: 1rem;
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.photo-reversed-info {
  width: 10rem;
  height: 20rem;
  border-radius: 1.2rem;
  margin-right: 1rem;
}

/* Media Query for Tablets (768px and above) */
@media (min-width: 768px) {
  .finalsection {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
  }

  .info-column,
  .reversed-info-column {
    width: 45%;
    display: block;
  }

  .photo-info-info,
  .photo-reversed-info {
    width: 100%;
    height: auto;
  }

  .info-flex p,
  .reversed-info-flex p {
    width: 25rem; /* Adjust the paragraph width */
    position: static; /* Reset position */
  }

  .info-flex h3,
  .reversed-info-flex h3 {
    position: static; /* Reset position */
  }
}

/* Media Query for Desktops (1024px and above) */
@media (min-width: 1024px) {
  .info-column,
  .reversed-info-column {
    width: 40%;
  }

  /* Additional style adjustments can be made here */
}

/* Media Query for Large Desktops (1440px and above) */
@media (min-width: 1440px) {
  .finalsection {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 6rem;
  }

  .info-flex h3,
  .reversed-info-flex h3 {
    margin-bottom: 1rem;
    text-align: center;
  }

  .info-flex h3 {
    margin-top: 4rem;
  }
}
